/* Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
        background-color: #000000;
        color: white;
        padding: 10px;
    }
    
 
 
    nav .search-bar {
        margin: 10px;
    }
    .inputDiv{
        background-color: #ffffff;
        width: 200px;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;

    }
    nav input[type="text"] {
        max-width: 70%;
        height: 28px;
    }

    #serchBtn {
        width:35px;
        height:35px;
        border-radius: 50%;
        font-size: .8rem;
        margin: 0 10px ;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        background: #28272789;
        background-repeat: no-repeat;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        overflow-y: scroll;
        height: 780px;
        
    }
    .logo{
        width: 150px;
        height: 40px;
       
    }
    audio{
        height: 40px;
    }
    h1 {
        font-size: 2rem;
    }

    .meanings ul {
        font-size: rem
    }

}

@media (max-width: 480px) {

}